BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
UL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
LI
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
BODY
{
	font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", ו, sans-serif;
}
EM
{
	font-style: normal;
}
UL
{
	list-style-type: none;
	list-style-image: none;
}
A
{
	text-decoration: none;
}
.site-nav .iconfont
{
	font-style: normal;
	font-family: global-iconfont;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscaleFont type;
}
.site-nav
{
	z-index: 10000;
	border-bottom: #eee 1px solid;
	width: 100%;
	background: #f5f5f5;
}
.site-nav:after
{
	display: table;
	clear: both;
	content: "";
}
.site-nav .site-nav-bd
{
	margin: 0px auto;
	width: 990px;
	background: #f5f5f5;
	height: 35px;
}
.site-nav .site-nav-bd:after
{
	display: table;
	clear: both;
	content: "";
}
.site-nav .site-nav-bd .site-nav-bd-l .menu
{
	display: inline;
	float: left;
}
.site-nav .site-nav-bd .site-nav-bd-r .menu
{
	display: inline;
	float: left;
}
.site-nav .site-nav-bd .site-nav-bd-l
{
	display: inline;
	float: left;
}
.site-nav .site-nav-bd .site-nav-bd-r
{
	display: inline;
	float: right;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe
{
	line-height: 35px;
	display: inline;
	float: left;
	height: 35px;
}
.site-nav-bd A
{
	color: #3c3c3c;
}
.site-nav-bd .h
{
	color: #f22e00 !important;
}
.site-nav-bd .site-nav-pipe
{
	padding-bottom: 0px;
	font-style: normal;
	padding-left: 5px;
	padding-right: 5px;
	color: #ddd;
	padding-top: 0px;
}
.site-nav-bd .menu
{
	display: inline;
	float: left;
}
.site-nav-bd .menu .menu-hd
{
	z-index: 10002;
	position: relative;
	padding-bottom: 0px;
	line-height: 35px;
	padding-left: 6px;
	padding-right: 6px;
	height: 35px;
	overflow: hidden;
	padding-top: 0px;
	_display: inline;
	_zoom: 1;
}
.site-nav-bd .menu .menu-hd A
{
	display: inline;
	float: left;
	color: #6c6c6c;
	font-size: 12px;
	margin-right: 7px;
}
.site-nav-bd .menu .menu-hd A SPAN
{
	display: inline;
	float: left;
	cursor: pointer;
}
.site-nav-bd .menu .menu-hd .iconfont
{
	color: #9c9c9c;
	margin-right: 5px;
	_line-height: 33px;
}
.site-nav-bd .menu .menu-hd I
{
	position: relative;
	margin: 15px 0px;
	width: 6px;
	display: inline;
	float: left;
	height: 6px;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.site-nav-bd .menu .menu-hd I EM
{
	position: absolute;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-right-style: solid;
	border-top-color: transparent;
	width: 0px;
	border-top-style: solid;
	height: 0px;
	border-right-color: transparent;
	border-left-style: solid;
	overflow: hidden;
	border-left-color: transparent;
	top: 0px;
	left: 0px;
	_border-color: tomato;
}
.site-nav-bd .menu .menu-hd I SPAN
{
	position: absolute;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-right-style: solid;
	border-top-color: transparent;
	width: 0px;
	border-top-style: solid;
	height: 0px;
	border-right-color: transparent;
	border-left-style: solid;
	overflow: hidden;
	border-left-color: transparent;
	top: 0px;
	left: 0px;
	_border-color: tomato;
}
.site-nav-bd .menu .menu-hd I EM
{
	border-right-width: 3px;
	border-top-width: 3px;
	border-bottom-width: 0px;
	border-left-width: 3px;
}
.site-nav-bd .menu .menu-hd I SPAN
{
	border-right-width: 3px;
	border-top-width: 3px;
	border-bottom-width: 0px;
	border-left-width: 3px;
}
.site-nav-bd .menu .menu-hd I EM
{
	top: 1px;
}
.site-nav-bd .menu .menu-hd I EM
{
	border-top-color: #6c6c6c;
}
.site-nav-bd .menu .menu-hd I SPAN
{
	border-top-color: #f5f5f5;
}
.site-nav-bd .menu .menu-bd
{
	z-index: 10001;
	position: relative;
	margin-top: -1px;
	display: none;
}
.site-nav-bd .menu .menu-bd .menu-bd-panel
{
	border-bottom: #eee 1px solid;
	position: absolute;
	border-left: #eee 1px solid;
	padding-bottom: 8px;
	line-height: normal;
	padding-left: 8px;
	padding-right: 8px;
	background: #fff;
	border-top: #eee 1px solid;
	top: 0px;
	border-right: #eee 1px solid;
	padding-top: 8px;
	left: 0px;
}
.site-nav-bd .mini-cart .menu-hd .iconfont
{
	color: #f40;
}
.site-nav-bd .site-map .menu-hd .iconfont
{
	color: #f40;
}
.site-nav-bd .favorite .menu-bd-panel
{
	width: 76px;
}
.site-nav-bd .guide .menu-bd-panel
{
	width: 59px;
}
.site-nav-bd .site-map .menu-bd .menu-bd-panel
{
	padding-bottom: 18px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 18px;
}
.site-nav-bd .menu .menu-list .menu-bd-panel
{
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
}
.site-nav-bd .menu .menu-list .menu-bd-panel A
{
	padding-bottom: 0px;
	line-height: 28px;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	white-space: nowrap;
	color: #6c6c6c;
	padding-top: 0px;
}
.my-taobao .menu-list .menu-bd-panel A SPAN
{
	margin-left: 5px;
}
.site-nav-bd .mini-cart .menu-bd .menu-bd-panel
{
	line-height: 20px;
	min-height: 40px;
	width: 296px;
	background: url(http://img03.taobaocdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) #fff no-repeat 50% 50%;
}
.site-nav-bd .site-map .menu-bd .menu-bd-panel
{
	width: 972px;
	overflow: hidden;
	right: 0px;
	left: auto;
}
.site-nav .site-nav-bd
{
	width: 1190px;
}
.site-nav .site-nav-bd .site-nav-bd-r .home
{
	display: none;
}
.iconfont
{
	font-style: normal;
	font-family: iconfont;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
BODY
{
	overflow-x: hidden;
	color: #3c3c3c;
	-webkit-backface-visibility: hidden;
}
A
{
	color: #3c3c3c;
}
.h
{
	color: #f40 !important;
}


