HTML
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DIV
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
SPAN
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
H2
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
H3
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
A
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
IMG
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
STRONG
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
B
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DT
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DD
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
UL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
LI
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
UL
{
	list-style-type: none;
	list-style-image: none;
}
:focus
{
	outline-style: none;
	outline-color: invert;
	outline-width: 0px;
}
A IMG
{
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}
IMG
{
	vertical-align: middle;
}
.mt
{
	zoom: 1;
	overflow: hidden;
}
.mc
{
	zoom: 1;
	overflow: hidden;
}
.mt
{
	cursor: default;
}
.mt H2
{
	font-family: "microsoft yahei";
}
.form INPUT
{
	float: left;
	font-size: 12px;
}
.hide
{
	display: none;
}
.button
{
	border-bottom: 0px;
	text-align: center;
	border-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: inline-block;
	border-top: 0px;
	cursor: pointer;
	border-right: 0px;
	padding-top: 0px;
}
BODY
{
	font: 12px/150% Arial, Verdana, "ו"; BACKGROUND: #fff;
	color: #666;
	_background-image: url(about:blank); _background-attachment: fixed;
}
H2
{
	font-size: 14px;
}
H3
{
	font-size: 14px;
}
A:link
{
	color: #666;
	text-decoration: none;
}
.w
{
	margin: 0px auto;
	width: 990px;
}
.root61 .w
{
	width: 1210px;
}
.ld
{
	position: relative;
	zoom: 1;
}
.ld S
{
	position: absolute;
	overflow: hidden;
}
.ld B
{
	position: absolute;
	overflow: hidden;
}
.loading-style1 B
{
	background: url(http://misc.360buyimg.com/lib/skin/e/i/loading-jd.gif) no-repeat 50% 50%;
}
.loading-style1
{
	text-align: center;
	margin: 0px auto;
	width: 126px;
	color: #999;
}
.loading-style1 B
{
	margin: 0px auto 5px;
	width: 43px;
	display: block;
	height: 24px;
}
#header-2013
{
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	height: 60px;
	padding-top: 15px;
}
#logo-2013
{
	width: 330px;
	float: left;
}
#logo-2013 A:link B
{
	width: 100px;
	height: 38px;
	top: 12px;
	cursor: pointer;
	left: 168px;
}
#search-2013
{
	padding-bottom: 0px;
	padding-left: 0px;
	width: 330px;
	padding-right: 86px;
	float: left;
	padding-top: 4px;
}
#search-2013 INPUT
{
	border-bottom: 0px;
	border-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 30px;
	border-top: 0px;
	border-right: 0px;
	padding-top: 0px;
}
#search-2013 .i-search
{
	z-index: 11;
	border-bottom: #e4393c 3px solid;
	border-left: #e4393c 3px solid;
	width: 304px;
	margin-bottom: 3px;
	height: 30px;
	border-top: #e4393c 3px solid;
	border-right: #e4393c 3px solid;
}
#search-2013 .form
{
	height: 30px;
	overflow: hidden;
}
#search-2013 .text
{
	padding-bottom: 5px;
	line-height: 20px;
	background-color: #fff;
	padding-left: 5px;
	width: 216px;
	padding-right: 5px;
	background-repeat: repeat-x;
	font-family: arial, "ו"; BACKGROUND-POSITION: 0px -360px;
	height: 20px;
	color: #999;
	font-size: 14px;
	padding-top: 5px;
}
#search-2013 .button
{
	width: 78px;
	background: #e4393c;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
}
#search-2013 #shelper
{
	border-bottom: #e4393c 1px solid;
	position: absolute;
	border-left: #e4393c 1px solid;
	width: 308px;
	background: #fff;
	overflow: hidden;
	border-top: #e4393c 1px solid;
	top: 32px;
	border-right: #e4393c 1px solid;
	left: -3px;
	box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}
.root61 #search-2013 #shelper
{
	width: 418px;
}
#hotwords
{
	height: 18px;
	color: #999;
	overflow: hidden;
}
#hotwords STRONG
{
	float: left;
	font-weight: 400;
}
#hotwords A:link
{
	float: left;
	color: #999;
	margin-right: 10px;
}
.root61 #search-2013
{
	width: 510px;
	padding-right: 126px;
}
.root61 #search-2013 .i-search
{
	width: 494px;
}
.root61 #search-2013 .text
{
	width: 406px;
}
#my360buy-2013 DT
{
	background-image: url(../img/20130330A_1.png); BACKGROUND-REPEAT: no-repeat;
}
#my360buy-2013
{
	z-index: 9;
	position: relative;
	margin-top: 12px;
	width: 106px;
	float: left;
	height: 30px;
}
#my360buy-2013 DT
{
	z-index: 1;
	border-bottom: #efefef 1px solid;
	position: absolute;
	text-align: center;
	border-left: #efefef 1px solid;
	padding-bottom: 0px;
	line-height: 27px;
	background-color: #f7f7f7;
	padding-left: 30px;
	width: 50px;
	padding-right: 24px;
	background-position: -116px -24px;
	height: 30px;
	border-top: #efefef 1px solid;
	cursor: pointer;
	border-right: #efefef 1px solid;
	padding-top: 0px;
}
#my360buy-2013 DT B
{
	border-bottom: transparent 5px dashed;
	border-left: transparent 5px dashed;
	width: 0px;
	height: 0px;
	overflow: hidden;
	border-top: #ccc 5px solid;
	top: 12px;
	right: 8px;
	border-right: transparent 5px dashed;
}
#my360buy-2013 DD
{
	border-bottom: #e3e3e3 1px solid;
	position: absolute;
	border-left: #e3e3e3 1px solid;
	width: 310px;
	display: none;
	background: #fff;
	border-top: #e3e3e3 1px solid;
	top: 32px;
	right: 0px;
	border-right: #e3e3e3 1px solid;
}
#my360buy-2013 .loading-style1
{
	margin: 10px auto;
}
#settleup-2013 DT
{
	background-image: url(../img/20130330A_1.png); BACKGROUND-REPEAT: no-repeat;
}
#settleup-2013
{
	z-index: 9;
	position: relative;
	margin-top: 12px;
	width: 126px;
	float: right;
	height: 30px;
}
#settleup-2013 DT
{
	z-index: 3;
	border-bottom: #efefef 1px solid;
	position: absolute;
	text-align: center;
	border-left: #efefef 1px solid;
	padding-bottom: 0px;
	background-color: #f7f7f7;
	padding-left: 30px;
	width: 74px;
	padding-right: 20px;
	background-position: -115px -84px;
	height: 30px;
	border-top: #efefef 1px solid;
	cursor: pointer;
	border-right: #efefef 1px solid;
	padding-top: 0px;
}
#settleup-2013 DT .shopping
{
	background-image: url(../img/20130330A_1.png); POSITION: absolute;
	padding-left: 6px;
	background-position: -133px -279px;
	color: #fff;
	top: -13px;
	left: 20px;
}
#settleup-2013 DT .shopping SPAN
{
	background-image: url(../img/20130330A_1.png); PADDING-RIGHT: 6px;
	display: block;
	background-position: 100% -250px;
	float: left;
	height: 20px;
}
#settleup-2013 DT A
{
	line-height: 27px;
}
#settleup-2013 DT B
{
	border-bottom: transparent 5px dashed;
	border-left: #ccc 5px solid;
	width: 0px;
	height: 0px;
	overflow: hidden;
	border-top: transparent 5px dashed;
	top: 9px;
	right: 4px;
	border-right: transparent 5px dashed;

}
#settleup-2013 DD
{
	position: absolute;
	width: 350px;
	display: none;
	top: 32px;
	right: 0px;
}
#settleup-2013 .prompt
{
	border-bottom: #ddd 1px solid;
	border-left: #ddd 1px solid;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background: #fff;
	border-top: #ddd 1px solid;
	border-right: #ddd 1px solid;
	padding-top: 10px;
}
#nav-2013
{
	z-index: 6;
	position: relative;
	padding-left: 210px;
	margin-bottom: 10px;
	background: #e4393c;
	height: 40px;
}
#navitems-2013
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E64346", endColorstr="#E13335");
}
#navitems-2013
{
	height: 40px;
}
#navitems-2013 LI
{
	height: 40px;
}
#navitems-2013 LI A
{
	height: 40px;
}
#navitems-2013 LI
{
	position: relative;
	width: 83px;
	float: left;
}
#navitems-2013 LI A
{
	position: absolute;
	text-align: center;
	width: 85px;
	font: 700 15px/40px "microsoft yahei"; COLOR: #fff;
	top: 0px;
	text-decoration: none;
	left: 0px;
}
#navitems-2013 .curr
{
	z-index: 1;
}
#navitems-2013 .curr A
{
	background: #a40000;
}
#treasure
{
	position: absolute;
	top: 0px;
	right: 0px;
}
#categorys-2013 .mt B
{
	background-image: url(../img/20130330A_1.png); BACKGROUND-REPEAT: no-repeat;
}
#categorys-2013 H3
{
	background-image: url(../img/20130330A_1.png); BACKGROUND-REPEAT: no-repeat;
}
#categorys-2013 S
{
	background-image: url(../img/20130330A_1.png); BACKGROUND-REPEAT: no-repeat;
}
#categorys-2013
{
	position: absolute;
	width: 210px;
	height: 40px;
	top: 0px;
	left: 0px;
}
#categorys-2013 .mt
{
	background: #cd2a2c;
}
#categorys-2013 .mt A
{
	line-height: 40px;
	padding-left: 20px;
	display: block;
	height: 40px;
	color: #fff;
}
#categorys-2013 .mt B
{
	width: 20px;
	background-position: -65px 0px;
	height: 20px;
	top: 10px;
	right: 10px;
}
#categorys-2013 .mc
{
	border-bottom: #e4393c 2px solid;
	position: absolute;
	border-left: #e4393c 2px solid;
	padding-bottom: 3px;
	padding-left: 0px;
	width: 203px;
	padding-right: 3px;
	display: none;
	background: #fafafa;
	height: 402px;
	overflow: visible;
	border-top: #e4393c 0px solid;
	top: 40px;
	border-right: #e4393c 2px solid;
	padding-top: 3px;
	left: 0px;
}
#categorys-2013 .item
{
	width: 200px;
	height: 30px;
	border-top: #fff 1px solid;
}
#categorys-2013 .fore1
{
	border-top: 0px;
}
#categorys-2013 SPAN
{
	z-index: 1;
	position: absolute;
	width: 203px;
	display: block;
}
#categorys-2013 H3
{
	line-height: 28px;
	border-right-width: 0px;
	padding-left: 18px;
	width: 181px;
	background-position: -128px 8px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	height: 28px;
	border-left-width: 0px;
	font-weight: 400;
}
#categorys-2013 H3 A:link
{
	color: #333;
}
#categorys-2013 S
{
	position: absolute;
	width: 6px;
	display: block;
	background-position: -110px -45px;
	height: 9px;
	top: 10px;
	left: 185px;
}
#categorys-2013 .mc .extra
{
	display: none;
}
#logo-2013 A B
{
	display: none;
}
#categorys-2013 .mt
{
	background: 0px 50%;
}
#categorys-2013 .mt B
{
	display: none;
}
#categorys-2013 .mc
{
	display: block;
}
