HTML
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
BODY
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DIV
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
SPAN
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
IFRAME
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
H2
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
A
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
FONT
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
IMG
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
STRONG
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
B
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
I
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DT
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
DD
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
UL
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
LI
{
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}
UL
{
	list-style-type: none;
	list-style-image: none;
}
:focus
{
	outline-style: none;
	outline-color: invert;
	outline-width: 0px;
}
A IMG
{
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
}
IMG
{
	vertical-align: middle;
}
TABLE
{
	empty-cells: show;
}
.fl
{
	float: left;
}
.clr
{
	line-height: 0;
	display: block;
	height: 0px;
	clear: both;
	font-size: 0px;
	overflow: hidden;
}
.m
{
	zoom: 1;
	overflow: hidden;
}
.mt
{
	zoom: 1;
	overflow: hidden;
}
.mc
{
	zoom: 1;
	overflow: hidden;
}
.m
{
	margin-bottom: 10px;
}
.mt
{
	cursor: default;
}
.mt H2
{
	font-family: "microsoft yahei";
}
.hide
{
	display: none;
}
.tab
{
	zoom: 1;
	overflow: hidden;
}
.tab LI
{
	text-align: center;
	float: left;
}
BODY
{
	font: 12px/150% Arial, Verdana, "ו"; BACKGROUND: #fff;
	color: #666;
	_background-image: url(about:blank); _background-attachment: fixed;
}
H2
{
	font-size: 14px;
}
A:link
{
	color: #666;
	text-decoration: none;
}
.w
{
	margin: 0px auto;
	width: 990px;
}
.p-img
{
	overflow: hidden;
}
.p-name
{
	overflow: hidden;
}
.p-price
{
	overflow: hidden;
}
.p-img
{
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
}
.p-img A:link
{
	text-decoration: none;
}
.p-name
{
	word-wrap: break-word;
	word-break: break-all;
}
.p-price
{
	color: #999;
}
.p-price STRONG
{
	color: #e4393c;
}
.iloading
{
	line-height: 30px;
	margin: 0px auto;
	padding-left: 22px;
	width: 140px;
	background: url(http://misc.360buyimg.com/201007/skin/df/i/loading.gif) no-repeat 0px center;
	height: 30px;
	color: #999;
}
.main
{
	color: #333333;
}
.right A:link
{
	color: #005ea7;
}
.main .mt .extra
{
	float: right;
}
.ftx-01
{
	color: #cc0000;
}
.ftx-02
{
	color: #009900;
}
.ftx-03
{
	color: #999999;
}
A.flk-03:link
{
	color: #999999;
}
.ftx-04
{
	color: #ff6600;
}
.main
{
	margin-bottom: 10px;
}
.left
{
	width: 150px;
	float: left;
	margin-right: 10px;
}
.main .p-name
{
	height: 3em;
	overflow: hidden;
}
#myjd .mt
{
	padding-bottom: 0px;
	line-height: 32px;
	background-color: #cccccc;
	padding-left: 6px;
	padding-right: 6px;
	height: 32px;
	color: #fff;
	border-top: #b5b5b5 2px solid;
	padding-top: 0px;
}
#myjd .mt H2
{
	line-height: 32px;
	background: none transparent scroll repeat 0% 0%;
	float: left;
	height: auto;
	padding-top: 0px;
}
#myjd .mt A
{
	color: #fff;
}
#myjd .mt .extra
{
	background-image: url(i/jdleft.png); LINE-HEIGHT: 0;
	margin-top: 5px;
	width: 22px;
	float: right;
	height: 22px;
	font-size: 0px;
	overflow: hidden;
	cursor: pointer;
}
#myjd .mc
{
	border-bottom: #e6e6e6 1px solid;
	border-left: #e6e6e6 1px solid;
	overflow: hidden;
	border-top: #e6e6e6 0px solid;
	border-right: #e6e6e6 1px solid;
}
#myjd DL DT
{
	position: relative;
	padding-bottom: 0px;
	line-height: 30px;
	background-color: #f9f9f9;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: -1px;
	height: 30px;
	color: #333333;
	cursor: pointer;
	font-weight: bold;
	padding-top: 0px;
}
#myjd DL DT B
{
	position: absolute;
	line-height: 0;
	width: 9px;
	display: block;
	background: url(i/jdleft.png) -64px 0px;
	height: 5px;
	font-size: 0px;
	overflow: hidden;
	top: 12px;
	left: 125px;
}
#myjd DD
{
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 4px;
}
#myjd DD .item
{
	padding-bottom: 2px;
	padding-left: 24px;
	padding-right: 0px;
	padding-top: 2px;
}
#myjd DD .curr
{
	font-weight:bold;
}
#myjd DL DD A:link
{
	color: #333333;
}
.right
{
	width: 830px;
	font-family: Verdana;
	float: right;
}
.middle
{
	width: 610px;
	float: left;
}
.right-extra
{
	width: 210px;
	float: right;
}
.btn
{
	padding-right: 13px;
	display: inline-block;
}
.btn S
{
	width: 3px;
	float: left;
	margin-right: 10px;
}
.btn
{
	background: url(i/btn.png) no-repeat;
}
.btn S
{
	background: url(i/btn.png) no-repeat;
}
.btn-8
{
	line-height: 21px;
}
.btn-8 S
{
	height: 21px;
}
.btn-8
{
	background-position: right -441px;
}
.btn-8 S
{
	background-position: 0px -419px;
}
A.btn-8:link
{
	color: #333333;
}
A.btn-8
{
	color: #333333;
}
.m3
{
	border-bottom: #edd28b 1px solid;
	border-left: #edd28b 1px solid;
	background: #fffdee;
	border-top: #edd28b 1px solid;
	border-right: #edd28b 1px solid;
}
.m5 .mc
{
	border-bottom: #e6e6e6 1px solid;
	border-left: #e6e6e6 1px solid;
	border-top: medium none;
	border-right: #e6e6e6 1px solid;
}
.tab
{
	z-index: 2;
	border-bottom: #ffccaa 2px solid;
	padding-left: 5px;
}
.tab LI
{
	position: relative;
	text-align: center;
	padding-bottom: 0px;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	background: url(i/tab.gif) 0px -28px;
	float: left;
	height: 27px;
	overflow: hidden;
	margin-right: 3px;
	padding-top: 0px;
}
.tab LI S
{
	position: absolute;
	width: 3px;
	background: url(i/tab.gif); HEIGHT: 27px;
	top: 0px;
}
.tab LI B
{
	position: absolute;
	width: 3px;
	background: url(i/tab.gif); HEIGHT: 27px;
	top: 0px;
}
.tab LI S
{
	left: 0px;
}
.tab LI B
{
	background-position: -7px 0px;
	right: 0px;
}
.tab LI.curr
{
	background-position: 0px -85px;
}
.tab LI.curr S
{
	background-position: 0px -57px;
}
.tab LI.curr B
{
	background-position: -7px -57px;
}
.tab LI.curr
{
	color: #ff6600;
	font-weight: bold;
}
.tb-void
{
	margin-bottom: -1px;
	margin-left: -1px;
	overflow: hidden;
	margin-right: -1px;
}
.tb-void TABLE
{
	border-bottom: #e6e6e6 1px solid;
	border-left: #e6e6e6 1px solid;
	border-collapse: collapse;
	border-top: #e6e6e6 0px solid;
	border-right: #e6e6e6 1px solid;
}
.tb-void TH
{
	background: url(i/tb-th.2011.gif) #f7f7f7 repeat-x;
	height: 31px;
	color: #666666;
	font-weight: normal;
}
.tb-void TD
{
	border-bottom: #e6e6e6 0px solid;
	text-align: center;
	border-left: #e6e6e6 1px solid;
	padding-bottom: 5px;
	padding-left: 4px;
	padding-right: 4px;
	border-top: #e6e6e6 1px solid;
	border-right: #e6e6e6 0px solid;
	padding-top: 5px;
}
.tb-rows TH
{
	text-align: left;
	padding-left: 10px;
}
.tb-rows TD
{
	text-align: left;
	padding-left: 10px;
}
.tb-rows TD
{
	border-left-width: 0px;
}
#da-home IMG
{
	width: 150px;
	height: auto;
}
.rank-text
{
	margin-right: 9px;
}
.icon-rank05
{
	line-height: 0;
	width: 106px;
	display: inline-block;
	background: url(../../img/buy/icon-rank201212.png) no-repeat;
	height: 14px;
	font-size: 0px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 10px;
}
.icon-rank05
{
	background-position: 0px -60px;
}
.acco-safe S
{
	line-height: 100px;
	width: 16px;
	display: inline-block;
	background: url(i/icon-veri.png) no-repeat;
	height: 16px;
	font-size: 0px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 3px;
}
.account .fl S
{
	line-height: 100px;
	width: 16px;
	display: inline-block;
	background: url(i/icon-veri.png) no-repeat;
	height: 16px;
	font-size: 0px;
	vertical-align: middle;
	overflow: hidden;
	margin-right: 3px;
}
.acco-safe A
{
	margin-right: 8px;
}
.acco-safe .mailn S
{
	background-position: -17px -17px;
}
.acco-safe .spsd S
{
	background-position: -34px 0px;
}
.right .tab
{
	border-bottom: #edd28b 1px solid;
	cursor: pointer;
}
.tab
{
	z-index: 2;
	border-bottom: #ffccaa 2px solid;
	padding-left: 5px;
}
.right .tab LI
{
	background-image: url(../../img/buy/tabindex.png); LETTER-SPACING: 1px;
}
.right .tab LI S
{
	background-image: url(../../img/buy/tabindex.png); HEIGHT: 28px;
}
.right .tab LI B
{
	background-image: url(../../img/buy/tabindex.png); HEIGHT: 28px;
}
.right .tab LI.curr
{
	letter-spacing: 0px;
	color: #cc0000;
	font-weight: bold;
}
.right .p-name
{
	height: 3em;
	overflow: hidden;
}
#userinfo
{
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.user
{
	text-align: center;
	float: left;
}
#userinfo .user
{
	position: relative;
}
.user .u-icon
{
	text-align: center;
	width: 120px;
	display: table-cell;
	background: url(i/index.png) no-repeat -42px -33px;
	height: 116px;
	vertical-align: middle;
}
.user .u-icon IMG
{
	margin-top: -5px;
}
.picture
{
	position: relative;
}
.upper
{
	position: absolute;
	filter: alpha(opacity=70); BACKGROUND: #ffffff;
	left: 0px;
	opacity: 0.7;
}
.upper
{
	width: 100px;
	height: 20px;
	overflow: hidden;
	top: 84px;
	left: 10px;
}
.picture A
{
	z-index: 40;
	position: absolute;
	width: 100%;
	left: 0px;
}
.picture A
{
	top: 84px;
}
.account
{
	line-height: 23px;
	zoom: 1;
	margin-bottom: 5px;
	overflow: hidden;
}
.acco-safe
{
	line-height: 23px;
	zoom: 1;
	margin-bottom: 5px;
	overflow: hidden;
}
.acco-safe .rank-text
{
	margin-right: 4px;
}
.acco-safe A
{
	margin-right: 8px;
}
.icon-rank05
{
	margin-right: 9px;
}
#i-userinfo
{
	border-left: #ffeed6 1px solid;
	padding-left: 10px;
	margin-left: 125px;
}
.username
{
	line-height: 25px;
	margin-bottom: 3px;
	height: 30px;
	overflow: hidden;
}
.username .extra
{
	float: right;
}
.username STRONG
{
	color: #333333;
	font-size: 20px;
	font-weight: normal;
}
.member
{
	border-bottom: #ffeed6 1px solid;
	border-left: #ffeed6 1px solid;
	zoom: 1;
	background: #fff;
	float: left;
	height: 23px;
	overflow: hidden;
	border-top: #ffeed6 1px solid;
	margin-right: 10px;
	border-right: #ffeed6 1px solid;
}
.memb-info
{
	border-left: #ffeed6 1px solid;
	padding-left: 4px;
	width: 380px;
	float: left;
	color: #999;
	overflow: hidden;
}
.member .close
{
	text-align: center;
	border-left: #ffeed6 1px solid;
	width: 17px;
	background: url(i/index.png) no-repeat -47px -150px;
	float: left;
	height: 23px;
	cursor: pointer;
}
.rank
{
	padding-right: 4px;
	float: left;
}
.account .fl S
{
	width: 22px;
	background-position: -51px 0px;
	height: 20px;
}
.acco-safe .credit S
{
	position: relative;
	width: 16px;
	background-position: -51px -21px;
	height: 12px;
	top: -1px;
}
.cr-line
{
	position: relative;
	width: 1px;
	display: inline-block;
	background: url(i/icon-veri.png) no-repeat -72px -18px;
	height: 14px;
	overflow: hidden;
	top: 2px;
	margin-right: 7px;
}
.rank S
{
	margin: 5px 5px 0px;
	width: 17px;
	background: url(i/rank2013.gif); FLOAT: left;
	height: 17px;
	text-decoration: none;
}
.acco-safe A.credit
{
	margin-right: 0px;
}
.r3 S
{
	background-position: 0px -34px;
}
#remind
{
	border-bottom: #ffeed6 1px solid;
	border-left: #ffeed6 1px solid;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	zoom: 1;
	background: #fff;
	overflow: hidden;
	border-top: #ffeed6 1px solid;
	border-right: #ffeed6 1px solid;
	padding-top: 10px;
}
#remind DL
{
	line-height: 30px;
	zoom: 1;
	height: 30px;
	overflow: hidden;
	border-top: #ffeed6 1px solid;
}
#remind .fore
{
	border-top: medium none;
}
#remind DL DT
{
	float: left;
}
#remind DL DD
{
	float: left;
}
#remind .oinfo
{
	width: 405px;
	float: left;
}
#remind .oinfo DD
{
	width: 104px;
	padding-right: 10px;
}
#remind .ainfo
{
	border-left: #ffeed6 1px solid;
	padding-left: 10px;
	width: 228px;
	float: left;
	margin-left: 10px;
}
#remind .ainfo .fore1
{
	width: 58px;
}
#reco-area
{
	width: 608px;
	float: left;
}
#reco-area .p-price STRONG
{
	color: #cc0000;
	font-weight: normal;
}
#reco-area .mc
{
	z-index: 0;
	position: relative;
	height: 183px;
	overflow: hidden;
}
.mleft
{
	z-index: 2;
	position: absolute;
	width: 30px;
	background: #ffffff;
	height: 183px;
	top: 0px;
	cursor: pointer;
}
.mright
{
	z-index: 2;
	position: absolute;
	width: 30px;
	background: #ffffff;
	height: 183px;
	top: 0px;
	cursor: pointer;
}
.mleft
{
	left: 0px;
}
.mright
{
	right: 0px;
}
.mleft S
{
	margin-top: 37px;
	width: 21px;
	background: url(i/index.png) no-repeat;
	height: 116px;
}
.mright S
{
	margin-top: 37px;
	width: 21px;
	background: url(i/index.png) no-repeat;
	height: 116px;
}
.mleft S
{
	background-position: 0px -33px;
	float: right;
}
.mright S
{
	background-position: -20px -33px;
	float: left;
}
.reco-list
{
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
}
.reco-list LI
{
	text-align: center;
	padding-bottom: 0px;
	padding-left: 18px;
	width: 142px;
	padding-right: 18px;
	float: left;
	padding-top: 0px;
}
.reco-list .p-img
{
	height: 104px;
}
#reco-area .p-img A
{
	text-decoration: none;
}
#con-area
{
	width: 208px;
	float: right;
}
#con-area .mc
{
	height: 183px;
}
#buy-area TABLE TH
{
	border-bottom: #e6e6e6 1px solid;
	text-align: center;
}
#buy-area .tb-void
{
	overflow: visible;
}
#buy-area .tb-void TD
{
	text-align: center;
	border-top-style: dotted;
}
#order-list .img-list
{
	text-align: left;
	width: 220px;
	zoom: 1;
	overflow: hidden;
}
#order-list .img-list A
{
	margin-top: 2px;
	margin-bottom: 2px;
	float: left;
	margin-right: 5px;
}
#buy-area
{
	overflow: visible;
}
#buy-area .mc
{
	overflow: visible;
}
#order-list
{
	overflow: visible;
}
#buy-area .mc
{
	border-bottom: medium none;
	border-left: medium none;
	margin-bottom: 3px;
	border-top: medium none;
	border-right: medium none;
}
#buy-area .mc .extra
{
	text-align: right;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 3px;
}
#stay-eval .p-name
{
	text-align: left;
	width: 370px;
	height: auto;
}
#stay-eval .btn-8
{
	margin-bottom: 3px;
}
#da-home IMG
{
	width: 150px;
	height: auto;
}
.iloading
{
	margin: 76px auto 0px;
}
